<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hornetincorporation.beatroute">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ksp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ksp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name="com.hornetincorporation.beatroute.RebootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.hornetincorporation.beatroute.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.hornetincorporation.beatroute.StartServiceAlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.hornetincorporation.beatroute.StopServiceAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.hornetincorporation.beatroute.SignIn"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hornetincorporation.beatroute.SignUp"
            android:label="@string/app_name" />
        <activity
            android:name="com.hornetincorporation.beatroute.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.hornetincorporation.beatroute.GeofenceTrasitionService" />
        <service android:name="com.hornetincorporation.beatroute.BeeterTrackingService" />
    </application>

</manifest>